

.home {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(250, 248, 240, 0.906), rgba(157, 157, 209, 0.5)),
  url("../../assets/books.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  


    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 80%;
      @media only screen and (max-width: 768px) {
        justify-content: flex-start;
      }
     
     
      
  
      h2 {
        font-size: 3rem;
        font-weight: 700;
        @media only screen and (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }
}

