.category-preview-container {
    width: 100vw;

    


    .category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(176, 168, 250);
        color: white;
        text-decoration: none;
        padding: 10px 35px;
    }

    .preview {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap: wrap;
    }
}