.category-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .category-page-title {
        width: 100vw;
        text-align: center;
        color: white;
        padding: 10px;
        background-color: rgb(49, 49, 49);
    }

    h2 {
        font-size: 30px;
    }

    .category-books-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
    
        flex-wrap: wrap;
    }
}