.cart-icon-container {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 50%;
  
    
    
    &:hover {
        background-color: rgb(120, 191, 253);
       
    }
    

    .cart-icon {
        position: relative;
        width: 25px;
        left: 9px;
        top: 9px;

    }

}