.book-card-container {
    width: 350px;
    height: 550px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    text-align: center;
    padding: 10px;

    -webkit-box-shadow: 1px 0px 44px -15px rgba(0,0,0,0.53);
-moz-box-shadow: 1px 0px 44px -15px rgba(0,0,0,0.53);
box-shadow: 1px 0px 44px -15px rgba(0,0,0,0.53);

    
        .book-img {
            max-height:300px;
            -webkit-box-shadow: 5px 5px 16px -3px rgba(0,0,0,0.47); 
box-shadow: 5px 5px 16px -3px rgba(0,0,0,0.47);
        }
    
}